version: "2"

services:
  redis:
    image: redis
  db:
    image: postgres:9.4.4
    ports:
      - "5432:5432"
  messagequeue:
    image: rabbitmq

  falcon_service:
    build: falcon_microservice
    volumes: 
      - ./falcon_microservice:/api
    ports:
      - "8080:8000"
    links:
      - db

  parsing_service:
    build: parser_routines
    # volumes:
    #   - ./parser_routines/:/app/parser_routines
    links:
      - redis
      - db
      - messagequeue
    depends_on:
      - redis
      - db
      - messagequeue   

